.policy_sort_buttons
{
	font: normal normal 26px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}


.policy_content_list_name
{
	font: normal normal 36px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}

.policy_content_list_address
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}

.policy_content_list_distance
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}

.policy_content_list_price
{
	font: normal normal 36px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}

.policy_content_list_age
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}


.policy_screen_title
{
	font: normal normal 26px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;	
}

.policy_action_buttons
{
	font: normal normal 30px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}

.policy_choice_buttons
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}

.policy_geocoding_text
{
	font: normal normal 26px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}

.policy_list_name
{
	font: normal normal 26px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}

.policy_help
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}
.policy_help_title
{
	font: normal bold 20px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}
.policy_help_text
{
	font: normal normal 20px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}
.policy_notification
{
	font: normal normal 30px "Gill Sans PSA", arial, helvetica, verdana, sans-serif !important;
}