#help_menu_panel
{
	display: none;
	width:616px;
	height:275px;	
}
#help_menu_panel_bg
{
	top:-1px;
	background-image:url('./images/search_type_choose_bg.png');	
	width:616px;
	height:275px;
	position:relative;
}
#help_menu_choice_buttons
{
	width:542px;
	height:215px;
	text-align:center;
	position: absolute;
	top:43;
	left:37;		
}
#legende_smeg_content
{
	width:616px;
	height: 335px;
	display:none;
}

#legende_list_container 
{
	margin-top: 11px;
	float:left;
	width:500px;
}

.legende_list_box
{
	width:76px;
	height:37px;
	margin-top: 7px;
	float:left;
}

.red
{
	background-image:url('./images/legende_bar_red.png');
	background-repeat: no-repeat;	
}

.green
{
	background-image:url('./images/legende_bar_green.png');
	background-repeat: no-repeat;	
}

.orange
{
	background-image:url('./images/legende_bar_orange.png');
	background-repeat: no-repeat;	
}

.grey
{
	background-image:url('./images/legende_bar_grey.png');
	background-repeat: no-repeat;	
}


.legende_list_row
{
	margin-left: 17px;
	text-align: left;	
	position:relative;
}

.legende_list_space
{
	clear: both;
	height: 11px;	
}

.legende_list_upper_text
{
	color:#fff;
	font-family:"Gill Sans PSA", arial, helvetica, verdana, sans-serif;
	font-size:22px;
	font-weight: normal;	
	padding-left:17px;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}

#legende_list_bottom
{
	clear: both;
	margin-top: 11px;
	margin-left: 17px;
}

.legende_list_bottom_text
{
	color:#fff;
	font-family:"Gill Sans PSA", arial, helvetica, verdana, sans-serif;
	font-size:26px;
	padding-left:27px;
	display:table-cell;
	vertical-align:middle;
	height: 60px;
}

.legende_list_bottom_box
{
	width:66px;
	height:66px;
	float:left;
}

.legende_bottom_info
{
	margin-left:15px;
}
.help_left
{
	font: normal bold 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif;
	text-align: left;
	padding-left:15px;
	padding-right:10px;
}

.help_right
{
	font: normal normal 22px "Gill Sans PSA", arial, helvetica, verdana, sans-serif;
}

.help_atm
{
	background-image:url('./images/srv_atm.png');
	background-repeat: no-repeat;	
}

.help_carservice
{
	background-image:url('./images/srv_car_repair.png');
	background-repeat: no-repeat;	
}

.help_childrens
{
	background-image:url('./images/srv_baby_room.png');
	background-repeat: no-repeat;	
}

.help_nonstop
{
	background-image:url('./images/srv_open_24.png');
	background-repeat: no-repeat;	
}

.help_alldays
{
	background-image:url('./images/srv_open_7.png');
	background-repeat: no-repeat;	
}

.help_tires
{
	background-image:url('./images/srv_tyre_pressure.png');
	background-repeat: no-repeat;	
}

.help_trailer
{
	background-image:url('./images/srv_camping_car_area.png');
	background-repeat: no-repeat;	
}

.help_wash
{
	background-image:url('./images/srv_washing_station.png');
	background-repeat: no-repeat;	
}

.parameters_help_bottom_info
{
	width:530px;
}
#legende_notice_content
{
	width:616px;
	height: 335px;
	display:none;
}
#notice_list_container 
{
	margin-top: 11px;
	float:left;
	width:500px;
}