/*warning cover start*/
.warning_clear
{
	clear: both;
}
.warning_cover
{
	width: 616px;
	height: 335px;
	background-color: #000;
	position: relative;
	z-index: 2;
	display: none;	
}
.warning_left_corner
{
	float:left;
	width: 29px;
	height: 335px;
	background-image: url("./images/settings_left_corner.png");
}
.warning_center_content
{
	float:left;
	width: 558px; 
	height: 335px;
	background-image: url("./images/settings_center_bg.png");
	background-repeat: repeat-x;
	text-align:center;
}
.warning_right_corner
{
	float:right;
	width: 29px;
	height: 335px;
	background-image: url("./images/settings_right_corner.png");
}
.warning_back_button
{
	float:left;
	margin-left: -6px;
	margin-top: 20px;
	background-image: url("./images/back_button.png");
	background-repeat: no-repeat;
	width: 52px;
	height: 53px;
}
.warning_text
{
	width: 616px;
	height:204px; 
	display: table-cell;	
	font: normal normal 30px "Gill Sans PSA", arial, helvetica, verdana, sans-serif;
	color:#ffffff;
	text-align: center;
	vertical-align: middle;
}
/*warning cover end*/